<header class="header">
  <h1>
    <img src="ND.png" alt="Logo" class="logo"/>
    Subastas N&D
  </h1>
  <nav>
    <ul class="nav-list">
      <li><a routerLink="/singUp" class="link">Registrarse</a></li>
      <li><a routerLink="/singIn" class="link">Iniciar Sesion</a></li>
      <li class="dropdown">
        <a href="#" class="link1">Soporte técnico</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/faqs" class="link">FAQ's</a></li>
          <li><a routerLink="/ticket" class="link">Crear ticket</a></li>
          <li><a routerLink="/chat" class="link">Chat en línea</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>